<!-- referrence    https://getbootstrap.com/docs/4.5/examples/album/   -->
<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="row">
            <div class="col">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" style="color:rgb(255, 255, 255);" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                    <path fill-rule="evenodd" d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
                </svg>
            </div>
            <div class="col">
                <h1 class="navbar-brand" href="#"><strong>Album</strong></h1>
            </div>
        </div>
        <button class="navbar-toggler" type="button">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
</header>
    
<section>
<section class="section text-center">
    <div class="container">
        <h1 style="font-size: 55px; font-weight: 300; margin-bottom: 8px;">Album exemple</h1>
        <p class="lead text-muted" style="font-size: 25px; font-weight: 300; margin-bottom: 8px;">
            Something short and leading about the collection below__its contents,
            the creator, etc. Make it short and sweet, but not too short so folks don't 
            simply skip over it entirely. 
            HHHHH
        </p>
        <div class="justice container center">
            <button type="button" class="btn btn-primary">Main call to action</button>
            <button type="button" class="btn btn-secondary">Second action</button>
        </div>
    </div>
</section>

<div class="album bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 voila">
                <p class="placeholder">Thumbnail</p>
            </div>
        
            <div class="col-md-4 voila">
                <p class="placeholder">Thumbnail</p>
            </div>
        
            <div class="col-md-4 voila">
                <p class="placeholder">Thumbnail </p>
            </div>
            <div class="col-md-4 voila">
                <p class="placeholder">Thumbnail</p>
            </div>
        
            <div class="col-md-4 voila">
                <p class="placeholder">Thumbnail</p>
            </div>
        
            <div class="col-md-4 voila">
                <p class="placeholder">Thumbnail </p>
            </div>
            <div class="col-md-4 voila">
              <p class="placeholder">Thumbnail</p>
          </div>
      
          <div class="col-md-4 voila">
              <p class="placeholder">Thumbnail</p>
          </div>
      
          <div class="col-md-4 voila">
              <p class="placeholder">Thumbnail </p>
          </div>
          <div class="col-md-4 voila">
              <p class="placeholder">Thumbnail</p>
          </div>
      
          <div class="col-md-4 voila">
              <p class="placeholder">Thumbnail</p>
          </div>
      
          <div class="col-md-4 voila">
              <p class="placeholder">Thumbnail </p>
          </div>
        </div>
    </div>
</div>
</section>


